{% extends 'blog/base.html'%}
{% block content%}

{% load static %}
<style>
    /* Logo size customization */
.navbar-logo {
    width: 120px;  /* Adjust size based on your needs */
}

/* Ensure the logo is centered */
.navbar-nav.mx-auto {
    display: flex;
    justify-content: center;
    flex: 1;
}

/* Align profile button to the right */
.ml-auto {
    margin-left: auto;
}
.navbar-logo {
    width: 250px; /* Adjust width to increase the logo size */
    height: auto; /* Maintain aspect ratio */
}

</style>

  <div class="container custom-container">

    <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
    <!-- Toggler for smaller screens -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Centered logo -->
        <ul class="navbar-nav mx-auto">
            <li>
                <a href="/home">
                    <img class="navbar-logo" src="{% static 'image/pho.png' %}" alt="">
                </a>
            </li>
        </ul>

        <!-- Right-aligned profile button -->
        <form class="form-inline ml-auto">
            <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profile
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/newpost">New Post</a>
                    <a class="dropdown-item" href="/mypost">My Posts</a>
                    <a class="dropdown-item" href="/signout">Sign Out</a>
                </div>
            </div>
        </form>
    </div>
</nav>
<br><br>
    <form method="post">
        {% csrf_token %}
        <div class="container custom-container " style="max-width: 1250px;">
            <br><br>
            <h1 class="fw-bolder"> Make a new post.</h1>
            <hr><br>
            <div class="mb-3">
                <h3><label for="exampleInputEmail1" class="form-label">Heading/Title</label></h3>
                <input type="text" class="form-control" id="exampleInputText" aria-describedby="emailHelp" name="title">
            </div>
            <div class="form-group">
                <h3><label for="exampleFormControlTextarea3">Content</label></h3>
                <textarea class="form-control" id="exampleFormControlTextarea3" rows="7" name="content"></textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
</div>

{%endblock%}